<section class="card">
 
    <header>{{product_name}}</header>
    <img src="/images/{{filename}}" alt="{{description}}">
    <p>{{description}}</p>
    
      <p>Seller: {{seller}}</p>
      <p>Price: {{price}}</p>
    
  
</section>