 <div class="tile is-parent">
        <article class="tile is-child notification is-info">
    <header class="title">{{product_name}}</header>
    <figure class = "image is-4by3">
    <img src="/images/{{filename}}" alt="{{description}}">
    </figure>
    <p class="subtitle">Description: {{description}}</p>
    
      <p class="subtitle">Seller: {{seller}}</p>
      <p class="subtitle">Price: {{price}}</p>
    </article>
  </div>


    
         