<section class="card">
  <a href="/product/{{category_id}}">
    <header>{{product_name}}</header>

    <div class="card-body">
      <img src="{{filename}}" alt="{{description}}">
      <p>Price: {{price}}</p>
    </div>
  </a>
</section>