<section class="listing">
  <img src="/images/{{listing.filename}}" alt="{{listing.description}}">
  <div class="painting-details">
    <h3>{{listing.title}}</h3>
    <p>For Sale By: {{listing.owner}}</p>
    <p>Price: {{ listing.price}}</p>
  </div>
</section>