<section class="product">
  <img src="/images/{{product.filename}}" alt="{{product.description}}">
  <div class="painting-details">
    <h3>{{product.product_name}}</h3>
    <p>For Sale By: {{product.seller}}</p>
    <p>Price: {{ product.price}}</p>
  </div>
</section>